//************************\\
//         Globals        \\
//************************\\

$romeBlack0: #1e1e1e;
$romeBlack1: #252526;
$romeBlack2: #383838;
$romeColor: #cccccc;
$romeColorDisabled: #aaaaaa;
$romeHighlight: #4d9e4d;
$romeBlue0: #037acc;

$chartColor1: #89dac1;
$chartColor2: #1e96be;

// $romeFont: 'Roboto';

$romeBlueSite: #4a91a6;
